body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(35,97,146);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255,255,255,.30);
    padding: 28px;
    border-radius: 7px;
    /* 
    box-shadow: x-axis y-axis blurness color 
    */
    box-shadow: 0 10px 10px rgb(0,0,0,.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading {
    font-size: 28px;
}

.input {
    height: 53px;
    width: 300px;
    background-color: rgba(255,255,255,.60);
    border-color: rgba(255,255,255,.40);
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
}

.meaning-container {
    display: none;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%; /* Adjust the width on smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size for better readability */
    }
    .heading {
        font-size: 24px; /* Decrease font size for the heading */
    }
    .input {
        width: 90%; /* Make input fields wider on smaller screens */
        font-size: 14px; /* Adjust font size for inputs */
        height: 40px; /* Adjust the height of input fields */
    }
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%; /* Use full width for very small devices */
        padding: 15px; /* Reduce padding */
    }
    .heading, .input {
        font-size: 14px; /* Further reduce font size for very small devices */
    }
    .input {
        width: 50%; /* Make input fields take full width on smaller screens */
        height: 35px; /* Adjust the height if needed for better touch interaction */
    }
}
