body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(15,32,75); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e6/Flag_of_Alaska.svg');
    
    
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
}

.container {
    background-color: rgba(255,255,255, .8);
    padding: 28px;
    border-radius: 7px;
    /* 
    box-shadow: x-axis y-axis blurness color 
    */
    box-shadow: 0 10px 10px rgb(0,0,0,.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading {
    font-size: 28px;
    margin-bottom: 10px;
}

.input {
    height: 53px;
    width: 300px;
    background-color: rgba(255,255,255,.60);
    border-color: rgba(255,255,255,.40);
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
}

.language-select {
    margin-bottom: 5px; 
    height: 30px; /* Adjust to desired height */
    width: 160px; /* Adjust to desired width */
    font-size: 16px; /* Increase the font size */
    padding: 5px; /* Add padding for extra space */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Optional rounding of corners */
    background-color: #f9f9f9; /* Optional background color */
    
    
}

.input {
    margin-top: 10px;
}

.meaning-container {
    display: none;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%; 
        padding: 20px; 
        font-size: 16px; 
    }
    .heading {
        font-size: 24px; 
    }
    .input {
        width: 50%; 
        font-size: 16px; 
        height: 40px; 
    }
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%; 
        padding: 15px; 
    }
    .input {
        font-size: 16px; 
    }
    .input {
        width: 60%; 
        height: 35px; 
    }
}